temperaturas.csv
grafical.png
desktop.ini
EasyWorship 2009.lnk
ENCICLOPEDIA BIBLICA CAVAL.lnk
Dev-C++.lnk
Aplicaciones quitadas.html
.ipynb_checkpoints/
#Curso Python_ UNiversidad de Alicante.ipynb
index.html